page-forgot-password 
{
	.headerLogo{
		margin-right: 3rem;
		margin-top: .5rem;
		float: right;
	}
	.toolbar-background
	{
		
		color: #FFFFFF;
    background: linear-gradient(left, #212F3D 0%, #212F3D 100%);
    	}

	.toolbar-title, ion-icon 
	{
		color: #FFFFFF ;
		font-size : 3.2rem;
		margin-top: 6px;

	}

	ion-content
	{
		background-color: #E4E4E1;
		 background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
 		background-blend-mode: normal, multiply;	
 	}

 	.aa
 	{
 		margin-top: 20px;
		margin-left: 50px;
		margin-right: 50px;
 	}

 	.a , .b
 	{
 		font-weight : bold;
 		font-size : 2rem
 	}

}
