// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
   .alertDanger{
    background-color: darkgray;
    color: red;
    button{
        color: red;
    }
}
.headerLogo{
display: inline-block;
float: right;
height: 50px;
width: 80px;
}

.chip{
    color: red;
    width: 100%;
    font-size: 15pt;
    text-align: center;
    background-color:whitesmoke
        }
ion-menu {
    max-width: 250px!important;
    min-width: 250px!important;
}

.scroll-content {
   overflow-y: auto !important;
}
.menuHighlight{
    background-color: #d3ffce
}